.pageHeaderText {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 100px;
}

.pageHeaderBorder {
    width: 100%;
    padding-top: 20px;
    border-bottom: 4px solid black;
    height: 20px;
    margin-top: 100px;
}

.aboutDescContainer {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.businessContainer {
    /* background-color: grey; */
}

.aboutAttributeText {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.aboutAttributeDescriptionText {
    font-size: 20px;
}

.subHeaderText {
    font-size: 33px;
    font-weight: 600;
}

.underline {
    width: 95%;
    height: 4px;
    background-color: black;
}