.pageHeaderText {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

.pageHeaderBorder {
    width: 100%;
    padding-top: 20px;
    border-bottom: 4px solid black;
    height: 20px;
    margin-top: 50px;
}

.aboutDescContainer {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.businessContainer {
    /* background-color: grey; */
}

.aboutAttributeText {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.aboutAttributeDescriptionText {
    font-size: 20px;
}

.subHeaderText {
    font-size: 33px;
    font-weight: 600;
}

.underline {
    width: 95%;
    height: 2px;
    background-color: black;
}

.aboutBannerContainer {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0, 0, 0, 0.85)),
    url('../../assets/images/space-banner-3.jpg');
    background-size: cover;
    min-height: 400px;
}

.aboutBannerContainerSecondary {
    background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.85)),
    url('../../assets/images/forest-banner.jpg');
    background-size: cover;
    min-height: 350px;
}

.aboutBannerText {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
}

.aboutBannerDescContainer {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}