.aboutDescContainer {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.waterLifeText {
    height: 40px;
}

.buttonShadow {
    -webkit-box-shadow: 8px 4px 15px -8px rgba(117,117,117,1);
    -moz-box-shadow: 8px 4px 15px -8px rgba(117,117,117,1);
    box-shadow: 8px 4px 15px -8px rgba(117,117,117,1);
}

ul {
    list-style: none;
    padding: 0;
    
}

li::before {
    content: "➤ ";
    color: #38C0E9;
}

.aboutAttributeText {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.aboutAttributeDescriptionText {
    font-size: 20px;
}

@media screen and (max-width: 1600px) {
    p.aboutAttributeDescriptionText {
        font-size: 18px;
    }
}

.subHeaderText {
    font-size: 33px;
    font-weight: 600;
}

.underline {
    width: 95%;
    height: 2px;
    background-color: black;
}

.aboutBannerContainer {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0, 0, 0, 0.85)),
    url('../../assets/images/space-banner-3.jpg');
    background-size: cover;
    min-height: 350px;
    -webkit-box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
    -moz-box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
    box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
}

.aboutBannerContainerSecondary {
    background: linear-gradient(rgba(23, 40, 20, 0.62), rgba(3, 5, 3, 0.37)),
    url('../../assets/images/forest-banner.jpg');
    background-size: cover;
    min-height: 350px;
    -webkit-box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
    -moz-box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
    box-shadow: 0px 12px 10px -5px rgba(117,117,117,1);
}

.aboutBannerText {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
}

.aboutBannerDescContainer {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.priceBannerContainer {
    background-color:#35a4c5;
    padding-top: 25px;
    padding-bottom: 15px;
}


.priceColumnContainer {
    -webkit-box-shadow: 10px 10px 17px -2px rgba(87,84,87,1);
    -moz-box-shadow: 10px 10px 17px -2px rgba(87,84,87,1);
    box-shadow: 10px 10px 17px -2px rgba(87,84,87,1);
}

.priceText {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.bundleFeaturesContainer {
    border: 1px solid lightgray;
    background-color: white;
}

.bundleFeatureContainer {
    margin-top: 15px;
    border-bottom: 1px solid lightgray;
}

.bundleFeatureText {
    text-align: center;
    font-size: 20px;
}

.bundleText {
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
}